html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'Lato-Black';
    src: url(./assets/fonts/Lato-Black.ttf);
}


@font-face {
    font-family: 'Lato-Bold';
    src: url(./assets/fonts/Lato-Bold.ttf);
}


@font-face {
    font-family: 'Lato-Light';
    src: url(./assets/fonts/Lato-Light.ttf);
}


@font-face {
    font-family: 'Lato-Regular';
    src: url(./assets/fonts/Lato-Regular.ttf);
}


body {
    width: 1020px;
    margin: 0 auto;   
}


/* ########
   #HEADER#
   ######## */


header {
    position: relative;
    background-color: #2d303a;
    width: 1020px;
    height: 89px;
}


h1 {
    position: absolute;
    visibility: hidden;
}


.logo {
    position: relative;
    left: 40px;
    top: 32px;
    max-width: 115px;
    letter-spacing: 0.2px; 
}


.logo-text {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 18.03448pt;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
}


.logo-dot {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18.03448pt;
    color: rgba(240, 108, 100, 255);
    text-align: justify;
}


.nav-menu {
    position: relative;
    left: 610px;
    top: 16px;
    width: 371px;
    letter-spacing: 0.2px; 
    word-spacing: 0.7px;
}


.menu-dot{
    display: inline-block;
    color: rgba(71, 76, 96, 255);
    /* vertical-align: top; */
    position: relative;
    top: -4px;

}


.menu-home {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8.65655pt;  
    display: inline-block;
    margin-right: 10px;

}


.menu-services {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8.65655pt;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;

}


.menu-portfolio {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8.65655pt;
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;

}


.menu-about {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8.65655pt;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;

}


.menu-contact {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 8.65655pt;
    display: inline-block;
    margin-left: 8px;
}


a {
    text-decoration: none;
    color: #ffffff;
}


a:hover {
    color: rgba(240, 108, 100, 255);
}


.header-bottom {
    position: absolute;
    width: 1020px;
    height: 6px;
    top: 89px;
    background-color: rgba(50, 55, 77, 255);
}


/* ############
   ##  MAIN  ##
   ############ */

   
main {
    width: 1020px;
    height: 600px;
    position: absolute;
    top: 95px;
    background: url('../Singolo/assets/Images/Bg@1X.png');
    z-index: 2;
}   


.slider-left {
    width: 16px;
    height: 27px;
    background: url('assets/Images/slider-left.png');
    position: relative;
    z-index: 3;
    top: 282px;
    left: 42px;
}


.slider-left:hover {
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}





.link-1 {
    width: 16px;
    height: 27px;
    
}


.slider-right {
    width: 16px;
    height: 27px;
    background: url('../Singolo/assets/Images/slider-right.png');
    position: relative;
    z-index: 3;
    top: 254px;
    left: 964px;
}


.slider-right:hover {
    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
}




.link-2 {
    width: 16px;
    height: 27px;
}


/* ##### IPHONE VERTICAL ##### */


.iphone-vertical {
    position: absolute;
    top: 53px;
}


.iphone-shadow-1 {
    position: absolute;
    width: 240px;
    height: 483px;
    background: url('../Singolo/assets/Images/iphone-shadow.png');
    left: 112px; 
    z-index: 3;  
}


.iphone-base-1 {
    position: absolute;
    width: 215px;
    height: 458px;
    background: url('../Singolo/assets/Images/vertical-base.png');
    left: 112px;
    z-index: 4;
}


.iphone-screen-1 {
    position: absolute;
    width: 188px;
    height: 333px;
    background: url('../Singolo/assets/Images/vertical-screen.png');
    left: 126px;
    top: 65px;
    z-index: 5;   
}


.iphone-screen-layer-1 {
    position: absolute;
    width: 194px;
    height: 339px;
    background: url('../Singolo/assets/Images/fon.png');
    left: -3px;
    top: -3px;
    z-index: 6;
}


.iphone-speaker-1 {
    position: absolute;
    width: 36px;
    height: 5px;
    background: url('../Singolo/assets/Images/vertical-speaker.png');
    left: 202px;
    top: 36px;
    z-index: 5;
}


.button-circle-1 {
    position: absolute;
    width: 43px;
    height: 43px;
    background: url('../Singolo/assets/Images/vertical-circle.png');
    left: 198px;
    top: 407px;
    z-index: 5;
}


.button-square-1 {
    position: absolute;
    width: 17px;
    height: 17px;
    background: url('../Singolo/assets/Images/vertical-square.png');
    left: 211px;
    top: 420px;
    z-index: 6;
}


.iphone-outer-circle-1 {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url('../Singolo/assets/Images/vertical-cam-circle.png');
    left: 214px;
    top: 16px;
    z-index: 5;
}


.cam-red-dot-1 {
    position: absolute;
    width: 5px;
    height: 5px;
    background: url('../Singolo/assets/Images/vertical-red-dot.png');
    left: 217px;
    top: 18px;
    z-index: 6;
}


/* ##### IPHONE HORIZONTAL ##### */


.iphone-horizontal {
    position: absolute;
    width: 555px;
    height: 347px;
    background: url('../Singolo/assets/Images/iphone-horizontal-2.png') ;
    left: 360px;
    top: 69px;
}


.main-bottom {
    position: absolute;
    width: 1020px;
    height: 6px;
    background: url('../Singolo/assets/Images/main-bottom.png');
    z-index: 1;
    top: 594px;
}


/* ##### SERVICES ##### */


.services { 
    position: absolute;
    width: 1020px;
    height: 496px;
    background: url('../Singolo/assets/Images/footer-bg.png');
    top: 600px;
}


.h2-services {
    position: absolute;
    font-family: 'Lato-Black', sans-serif;
    font-size: 30px;
    letter-spacing: -0.2px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    top: 62px;
    left: 41px;
}


.p-services {
    position: absolute;
    width: 950px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    letter-spacing: 0.14px;
    line-height: 31px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    top: 112px;
    left: 41px;
}


.services-2 {
    display: grid;
    width: 938px;
    height: 205px;
    top: 818px;
    left: 38px;
    position: absolute;
    grid-template-areas:
        "pn blb hrt"
        "phn bbl str";
    grid-template-rows: 83px 83px;
    grid-template-columns: repeat(3, 299px);
    justify-content: space-between;
    align-content: space-between;
    line-height: 20px;  
}


.img-services { 
    width: 62px;
    height: 62px;
    left: 1px;
    top: 1px;
    position: relative;
    float: left;
}
 

 .pen {
    grid-area: pn;   
}


 /* .img-pen {
    width: 62px;
    height: 61px;
     background: url('assets/Images/Pen.png');
     float: left;
     z-index: 6;
 } */



 .bulb {
    grid-area: blb;
    background: url('/assets/Images/Bulb.png');
}


 .heart {
    grid-area: hrt;
    background: url('/assets/Images/Heart.png');
}


 .phone {
    grid-area: phn;
    background: url('/assets/Images/Phone.png');
}


 .bubble {
    grid-area: bbl;
    background: url('/assets/Images/Bubble.png');
}


 .star { 
    grid-area: str;
    background: url('/assets/Images/Star.png');
}


.p-title {
    font-family: 'Lato-Black';
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    position: relative;
    left: 20px;
}


.p-main {
    width: 220px;
    height: 83px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    position: relative;
    left: 21px;
    top: 10px;
    line-height: 21px;
    float: left; 
}


.services-bottom {
    width: 1020px;
    height: 6px;
    background: url('assets/Images/services-bottom.png');
    position: absolute;
    top: 276px;
    left: -38px;

}


/* ##########
   #SINGOLO2#
   ########## */


.singolo2-header {
    position: relative;
    top: 1046px;
    width: 1020px;
    height: 195px;
    background: url('assets/images/header-bg.png');
}


.p-h-first { 
    position: relative;
    top: 63px;
    left: 41px;
    font-family: 'Lato-Black';
    font-size: 31px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: -0.7px;
}


.p-h-second {
    position: relative;
    top: 88px;
    left: 41px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    letter-spacing: -0.02px;
}


.nav-menu-2 {
    display: inline-block;
    width: 320px;
    height: 24px;
    position: relative;
    top: 104px;
    left: 40px;
}


li {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
}

.a-2 {
    position: relative;
    top: 3px;
    left: 7px;
    text-decoration: none;
    color: rgba(118, 126, 158, 255);
}


.a-2:hover { 
    color: white;
}


.all {
    width: 27px;
    height: 20px;
    margin-right: 6px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(118, 126, 158, 255);
}


.web {
    width: 76px;
    height: 20px;
    margin-right: 6px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(118, 126, 158, 255);
}


.graphic {
    width: 91px;
    height: 20px;
    margin-right: 6px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(118, 126, 158, 255);  
}


.artwork {
    width: 55px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(118, 126, 158, 255);     
}



/* SINGOLO 2 MAIN */

.singolo2-main {
    position: relative;
    top: 1046px;
    width: 1020px;
    height: 675px;
    background: url('assets/images/main-bg.png');
}


.pictures-grid {
    display: grid;
    width: 1000px;
    height: 670px;
    position: relative;
    top: 0px;
    left: 40px;
    grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l";
    grid-template-rows: repeat(3, 187px);
    grid-template-columns: repeat(4, 220px);
    column-gap: 20px;
    row-gap: 20px;   
}


.pic-1 {
    grid-area: a;
    background: url('assets/images/1.png');
}


.pic-2 {
    grid-area: b;
    background: url('assets/images/2.png');
}


.pic-3 {
    grid-area: c;
    background: url('assets/images/3.png');    
}


.pic-4 {
    grid-area: d;
    background: url('assets/images/4.png');   
}


.pic-5 {
    grid-area: e;
    background: url('assets/images/5.png');    
}


.pic-6 {
    grid-area: f;
    background: url('assets/images/6.png');
}


.pic-7 {
    grid-area: g;
    background: url('assets/images/7.png');
}


.pic-8 {
    grid-area: h;
    background: url('assets/images/8.png');
}


.pic-9 {
    grid-area: i;
    background: url('assets/images/9.png');
}


.pic-10 {
    grid-area: j;
    background: url('assets/images/10.png');
}


.pic-11 {
    grid-area: k;
    background: url('assets/images/11.png');
}


.pic-12 {
    grid-area: l;
    background: url('assets/images/12.png');
}


.main-footer {
    width: 1020px;
    height: 6px;
    position: relative;
    top: -1;
    left: 0px;
    background-image: url('assets/images/main-footer.png');
}



/* SINGOLO 2 FOOTER */


.singolo2-footer {
    width: 1020px;
    height: 728px;
    position: relative;
    top: 1045px;
    background: url('assets/images/footer-bg-s2.png');
}


.p-f-first {
    position: relative;
    top: 62px;
    left: 40px;
    font-family: 'Lato-Black';
    font-size: 30px;
    color: rgba(102, 109, 137, 255);
}


.p-f-second {
    width: 939px;
    height: 47px;
    position: relative;
    top: 83px;
    left: 40px;
    font-family: 'Lato-Light';
    font-size: 18px;
    line-height: 28px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
}


.about-us {
    display: grid;
    width: 962px;
    height: 470px;
    position: relative;
    top: 141px;
    left: 40px;
    grid-template-areas:
        "aa bb cc"
        "dd ee ff"
        "gg hh ii";
    grid-template-rows: 300px;
    grid-template-columns: repeat(3, 300px);
    row-gap: 17px;
    column-gap: 20px;
}


.adam {
    grid-area: aa;
    background: url('assets/images/adam.png');

}


.desmond {
    grid-area: bb;
    background: url('assets/images/desmond.png');
}


.scolara {
    grid-area: cc;
    background: url('assets/images/scolara.png');    
}


.adam-p {
    grid-area: dd;
}


.desmond-p {
    grid-area: ee;
}


.scolara-p {
    grid-area: ff;
}


.adam-soc {
    position: relative;
    top: -3px;
    left: 0px;
    grid-area: gg;
}


.desmond-soc {
    position: relative;
    top: -3px;
    left: 0px;    
    grid-area: hh;
}


.scolara-soc {
    position: relative;
    top: -3px;
    left: -1px;
    grid-area: ii;
}


.adam-p-1 {
    font-family: 'Lato-black';
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: -0.2px;
}


.adam-p-2 {
    position: relative;
    top: 10px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 21px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    word-spacing: -0.5px;   
}


.desmond-p-1 {
    font-family: 'Lato-black';
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: -0.2px;
}


.desmond-p-2 {
    position: relative;
    top: 10px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 21px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    word-spacing: -0.5px;
}


.scolara-p-1 {
    font-family: 'Lato-black';
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: -0.2px;
}


.scolara-p-2 {
    position: relative;
    top: 10px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 21px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    word-spacing: -0.5px;
}


.adam-f {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/facebook.png');
    
}




.adam-f-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.adam-g {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/google.png');
}


.adam-g-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.adam-t {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/twitter.png');
}


.adam-t-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.adam-l {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/linkedin.png');
}


.adam-l-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
}


.desmond-f {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/facebook.png');
}


.desmond-f-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.desmond-g {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/google.png');
}


.desmond-g-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.desmond-t {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/twitter.png');
}


.desmond-t-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.desmond-l {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/linkedin.png');
}


.desmond-l-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
}


.scolara-f {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/facebook.png');
}


.scolara-f-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.scolara-g {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/google.png');
}


.scolara-g-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.scolara-t {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/twitter.png');
}


.scolara-t-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.scolara-l {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url('assets/images/linkedin.png');
}


.scolara-l-a {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 34px;
    margin-right: 2px;
}


.footer-bottom {
    width: 1020px;
    height: 6px;
    background: url('assets/images/footer-bottom.png');
    position: relative;
    top: 179px;
}

.adam-f:hover {
    -webkit-transform: rotate(0.5turn);
}

.adam-g:hover {
    -webkit-transform: rotate(0.5turn);
}

.adam-t:hover {
    -webkit-transform: rotate(0.5turn);
}

.adam-l:hover {
    -webkit-transform: rotate(0.5turn);
}


.desmond-f:hover {
    -webkit-transform: rotate(0.5turn);
}

.desmond-g:hover {
    -webkit-transform: rotate(0.5turn);
}

.desmond-t:hover {
    -webkit-transform: rotate(0.5turn);
}

.desmond-l:hover {
    -webkit-transform: rotate(0.5turn);
}


.scolara-f:hover {
    -webkit-transform: rotate(0.5turn);
}

.scolara-g:hover {
    -webkit-transform: rotate(0.5turn);
}

.scolara-t:hover {
    -webkit-transform: rotate(0.5turn);
}

.scolara-l:hover {
    -webkit-transform: rotate(0.5turn);
}


/* SINGOLO 3 */


.form-body {
    width: 1020px;
    margin: 0 auto;
    position: relative;
    top: 1051px;
}


.form {
    width: 1020px;
    height: 654px;
    background: url('assets/Images/form-bg.png');
}


.form-header {
    width: 164px;
    height: 26px;
    position: relative;
    top: 63px;
    left: 40px;
    font-family: 'Lato-Black';
    font-size: 29px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    letter-spacing: 0.4px;
}


.form-text {
    width: 939px;
    height: 47px;
    position: relative;
    top: 86px;
    left: 40px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    line-height: 31px;
}


.form-area { 
    position: relative;
    top: 144px;
    left: 40px;
}


.form-area-item {
    width: 619px;
    height: 38px;
    margin-bottom: 16px;
    background: url('assets/Images/form-area-item-bg.png');
    font-family: 'Lato-Regular';
    font-size: 12px;
    text-align: justify;
    text-indent: 15px;
}


.form-area-item::-webkit-input-placeholder {color: rgba(244, 140, 143, 255);}


.form-area-item-textarea {
    width: 619px;
    height: 190px;
    background: url(assets/Images/text-area-bg.png);
    font-family: 'Lato-Regular';
    font-size: 12px;
    text-align: justify;
    text-indent: 15px;
    padding-top: 12px;
}


.form-area-item-textarea::-webkit-input-placeholder {color: rgba(244, 140, 143, 255);}


.submit {
    width: 138px;
    height: 53px;
    position: relative;
    top: -20px;
    left: 12px;
    background-color: rgb(214, 86, 79, 255);
    font-family: 'Lato-Regular';
    font-size: 17px;
    text-align: center;
    border-radius: 4px;
    color: rgba(244, 140, 143, 255);
}


.submit:hover {
    cursor: pointer;
    background-color: rgb(14, 51, 79, 255);
    transition: transform 0.1s, color 0.3s linear;
}


.contact-info {
    display: block;
    width: 301px;
    height: 214px;
    position: relative;
    top: -243px;
    left: 680px;
}


.contact-info-h {
    position: relative;
    top: 3px;
    font-family: 'Lato-Black';
    font-size: 18px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    letter-spacing: -0.1px;
}


.contact-info-p {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    position: relative;
    top: 13px;
    left: 0px;
    line-height: 21.9px;
    letter-spacing: -0.1px;
    word-spacing: 0.6px;
}


.contact-info-a {
    position: relative;
    top: 38px;
    left: 0px;
}


.contact-info-a-p {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    position: relative;
    margin-bottom: -11px;
    top: -12px;
    left: 23px;
    line-height: 21px;
    letter-spacing: -0.13px;
    word-spacing: 0.6px;
    cursor: pointer;
}

.contact-info-a-p:hover {
    color: rgb(214, 86, 79, 255);
}


.contact-info-a-p-2 {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    position: relative;
    top: -4px;
    left: 23px;
}




.contact-info-a-p-2:hover {
    color: rgb(214, 86, 79, 255);
}


.form-line {
    width: 1020px;
    height: 6px;
    display: block;
    position: relative;
    top: -19px;
    left: -23px;
    background: url('assets/Images/form-line-bg.png');
}


.contact-loc {
    width: 7px;
    height: 11px;
    position: relative;
    top: 4px;
    left: 3px;
    display: block;
    background: url('assets/Images/contact-a-loc.png');
}


.contact-phone {
    width: 11px;
    height: 11px;
    position: relative;
    top: 4px;
    left: 1px;
    display: block;
    background: url('assets/Images/contact-a-phone.png');
}


.contact-mail {
    width: 13px;
    height: 8px;
    position: relative;
    top: 8px;
    display: block;
    background: url('assets/Images/contact-a-mail.png');
}


/* ############
   ###FOOTER###
   ############ */

.form-footer {
    width: 1020px;
    height: 76px;
    position: relative;
    top: 3363px;
    background: url('assets/Images/form-footer-bg.png');
}


.copyright {
    position: relative;
    top: 36px;
    left: 20px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    text-align: justify;
    color: #666d89;
    letter-spacing: 0.2px;
}


.footer-a {
    width: 160px;
    height: 38px;
    display: block;
    position: relative;
    top: 9px;
    left: 827px;
}


.footer-a-f {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: url('assets/Images/facebook.png');
}


.footer-a-g {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: url('assets/Images/google.png');
    margin-left: 3px;
}


.footer-a-t {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: url('assets/Images/twitter.png');
    margin-left: 3px;
}


.footer-a-i {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: url('assets/Images/linkedin.png');
    margin-left: 3px;
}


.footer-a-f:hover {
    -webkit-transform: rotate(0.5turn);
}

.footer-a-g:hover {
    -webkit-transform: rotate(0.5turn);
}

.footer-a-t:hover {
    -webkit-transform: rotate(0.5turn);
}

.footer-a-i:hover {
    -webkit-transform: rotate(0.5turn);
}